.modalOverlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  button {
    border: 1px solid orangered;
    color: orangered;
    background-color: white;
    font-weight: 700;
  }
  .ticketContainer {
    width: 110px;
    height: 220px;
    background-color: aliceblue;
    border-radius: 6px;
    position: relative;
    .ticketSelected {
      width: 110px;
      height: 220px;
    }
    .username {
      position: absolute;
      bottom: 39px;
      font-size: 11px;
      left: 25px;
      color: black;
      transform: rotate(-2deg);
      font-weight: 700;
    }
    .ticketPhoto {
      border-radius: 50%;
      width: 45px;
      height: 45px;
      position: absolute;
      top: 26.5%;
      left: 28%;
    }
  }
  .selectTicketContainer {
    display: flex;
    max-height: 100px;
    max-width: fit-content;
    li {
      max-width: 100%;
      max-height: 100%;
      img {
        width: 45px;
        height: 90px;
      }
    }
  }
}
