.uploadContainer {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.522);
  backdrop-filter: blur(2px);
  h2 {
    padding: 30px;
    font-size: 16px;
    color: orangered;
  }
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: 1px solid orangered;
    border-radius: 50%;
    padding: 10px;
    color: orangered;
  }
  input {
    display: none;
  }
}
