.main {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
  .bgImg {
    z-index: -1;
  }
  .logo {
    width: 240px;
    height: 72px;
    position: relative;
  }
  .startBtn {
    background: transparent;
    color: white;
    padding: 2px 15px;
    border-radius: 10px;
    border: 1px solid;
  }
  .bgImg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    bottom: 0;
  }
}
